name: Python application

on:
  [push]

jobs:
  build:

    runs-on: self-hosted
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if(Test-Path requirements.txt) { pip install -r requirements.txt}
        $current_folder = Get-Location    
        npm install
        npm install pm2 -g    
    - name: Test with pytest
      run: |
        Start-Sleep -s 60
        $Host_IP = (Get-NetIPConfiguration |Where-Object {$_.IPv4DefaultGateway -ne $null -and $_.NetAdapter.Status -ne "Disconnected" }).IPv4Address.IPAddress 
        $current_folder = Get-Location
        $Env:PYTHONPATH += "$current_folder"
        Write-Output $Env:PYTHONPATH
        Write-Output $Host_IP
        Write-Output $current_folder
              
        $analysis_path = "$current_folder\src"
        Push-Location $analysis_path
        pm2 start run_service.py --name analysis_service_daemon
        Pop-Location

        Start-Sleep -s 60
    
        pm2 describe analysis_service_daemon
        pm2 ls
        pm2 env 0
        pytest
        pm2 logs analysis_service_daemon [--lines 25]
       
        
